* {
    margin:0;padding:0;
}


main {
    width:500px;
    height:800px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.console {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #f4b102;
    border-radius: 12px 12px 75px 12px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%), 0 0 15px rgb(0 0 0 / 25%) inset;
    background: #f4b1028f linear-gradient(#f4b10291 95%, #f4b102c7 98%, #e0a200 99%);
    padding-top:1px;
    user-select: none;
    
}

.screen {
    background-color: #add794;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 24px;
    width: 450px;
    height: 405px;
}

.cruceta {
    margin-top:25px;
    margin-left:25px;
    position: absolute;
    width: 170px;
    height: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". top ."
        "left center right"
        ". bottom .";
}
.cruceta >div {
    position: relative;
    /* background: #8f8f8f; */
    color: #5c5f63;
    text-align: center;
    text-shadow: 1px 1px 1px #8f8f8f;
}

.cruceta:active>div {
    box-shadow:none;
}
.cruceta > div > span {
    display: block;
    text-align: center;
    margin-top: 25%;
}

.cruceta > .top {
    grid-area: top;
    border:2px solid rgba(0,0,0,.1);
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 3px 0px 0px 0px rgb(0 0 0 / 20%), inset 0px 2px 0px 1px rgb(255 255 255 / 15%);
}

.cruceta > .left {
    grid-area: left;
    border:2px solid rgba(0,0,0,.1);
    border-right: none;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 20%), inset 2px 2px 0px 0px rgb(255 255 255 / 15%);
}

.cruceta > .center {
    grid-area: center;
}

.cruceta > .bottom {
    grid-area: bottom;
    border:2px solid rgba(0,0,0,.1);
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 20%), inset 2px 0px 0px 0px rgb(255 255 255 / 15%)
}

.cruceta > .right {
    grid-area: right;
    border:2px solid rgba(0,0,0,.1);
    border-left: none;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 3px 3px 0px 0px rgb(0 0 0 / 20%), inset -2px 2px 0px 0px rgb(255 255 255 / 15%)
}

.buttons-ab {
    margin-top:50px;
    position: absolute;
    right:0;
    display: inline-block;
    width:50%;
}
.button-a {
    background-color: red;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    width:50px;
    height:50px;
    position: absolute;
}
.button-b {
    background-color: red;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    width:50px;
    height:50px;
    position: absolute;
    left: 65px;
    top:25px;
    box-shadow: 1px 1px 0px 2px rgb(0 0 0 / 20%), inset -2px 2px 0px 0px rgb(255 255 255 / 15%)
}

.button-b:active {
    box-shadow:none;
}

.buttons {
    width: 25%;
    background: linear-gradient(#f5c346 -10%, #ffdf8c 130%);
    border-radius: 40px;
    padding: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 86px 0 0px 286px;
    transform: rotate(-30deg);
}

.buttons .button {
    width: 50px;
    height: 50px;
    box-shadow: -2px 3px 5px rgb(99 77 23), -3px 4px 3px rgb(255 255 255 / 25%) inset;
    margin: 0 6px;
    border-radius: 50%;
    background: #ffb700;
}

.buttons .button:active {
    box-shadow: -3px 4px 3px rgba(0, 0, 0, 0.25) inset, 2px -2px 3px rgba(0, 0, 0, 0.25) inset;
}

.console > .bottom {
    margin-top:90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -20px;
}

.gamecontrols {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;  
  }
  .gamecontrols .gap {
    background: linear-gradient(#f5c346 -10%, #ffdf8c 130%);
      transform: rotate(-28deg);
      margin: 0 5px;
      border-radius: 15px;
    }
  .gamecontrols .button {
    background: #f5be31;
      border-radius: 10px;
      box-shadow: 
        -2px -2px 5px rgba(0,0,0, 0.4) inset, 
        2px 2px 5px rgba(255,255,255, 0.7) inset, 
        2px 2px 6px rgba(0,0,0, 0.8);
      width: 50px;
      height: 12px;
      margin: 6px 8px;    
    }
  .gamecontrols .button:active {
        box-shadow: 
          -2px -2px 5px rgba(0,0,0, 0.4) inset, 
          2px 2px 5px rgba(0,0,0, 0.7) inset;
      }
  .gamecontrols .button::after {
      font-family: Pretendo, sans-serif;
      font-size: 12px;
      color: #302058;
      content: attr(data-button);
      position: relative;
      right: 0;
      bottom: -20px;
    }